body{
    background-color: #fdfdfd;
    color: rgb(0, 21, 41);
}
a:link {
    color: #ff8521;
    text-decoration: none;
}

/* Visited link */
a:visited {
    color: #ff8521;
}

/* Mouse over link */
a:hover {
    color: #ff00ff;
    
}

/* Selected link */
a:active {
    color: #FF0000;
}