body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #ECF0F1;
    color: #2C3E50;
}
a:link {
    color: #8d04c4;
    text-decoration: none;
}

/* Visited link */
a:visited {
    color: #8d04c4;
}

/* Mouse over link */
a:hover {
    color: #fc66fc;
    
}

/* Selected link */
a:active {
    color: #FF0000;
}
header {
    width: 100%;
    height: 10%;
    background-color: #2C3E50;
}
#inf2postDisplay {
    min-height: 20px;
    background-color: #f9f9f9;
    text-align: left;
}