body{
    background-color: #fcefef;
    color: rgb(0, 21, 41);
}
a:link {
    color: #8d04c4;
    text-decoration: none;
}

/* Visited link */
a:visited {
    color: #8d04c4;
}

/* Mouse over link */
a:hover {
    color: #fc66fc;
    
}

/* Selected link */
a:active {
    color: #FF0000;
}